.app-shell__menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

.app-header__profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}