<ng-container *ngIf="showShell; else authOutlet">
  <nz-layout class="app-shell" [class.app-shell--collapsed]="sidebarCollapsed">
    <nz-sider [nzWidth]="260" [nzCollapsedWidth]="0" [nzCollapsed]="sidebarCollapsed" nzTheme="light">
      <app-sidebar [collapsed]="sidebarCollapsed" (toggle)="toggleSidebar()"></app-sidebar>
    </nz-sider>

    <nz-layout>
      <nz-header class="app-shell__header">
        <app-header (toggleMenu)="toggleSidebar()"></app-header>
      </nz-header>

      <nz-content class="app-shell__view">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-container>

<ng-template #authOutlet>
  <router-outlet></router-outlet>
</ng-template>